name: Publish Extension

on:
  push:
    branches:
      - main
    paths:
      - 'extension/package.json'
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        working-directory: ./extension
        run: bun install

      - name: Build Extension
        working-directory: ./extension
        run: bun run build

      - name: Publish Extension
        working-directory: ./extension
        run: npx -y @vscode/vsce publish -p ${{ secrets.VSCE_PAT }}
